.content-kiri {
   	width:63%;
	float:left;
}

.content-kanan {
	width:25%;
	float:right;
}

.tab-size{
    width: 40px;
}

.btn-info-2 {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    margin-left: 5px;
}

.img-contoh {
    width: 35%;
    margin: 0 auto;
    display: block;
}

.right {
  float: right !important;
}
